@import "tailwindcss";

@theme {
  --color-primary-button: #63b0b3;
  --color-success: #93d3a7;
  --color-failed: #ff7672;
  --color-primary-text: #121926;
  --color-secondary-text: #9aa4b2;
  --color-white-text: #ffffff;
  --color-brand-1: #61afb1;
  --color-brand-2: #bfefe5;
  --color-brand-3: #93d3a7;
}
